<% content_for :title, "Editing movie" %>

<h1 class="page-title">Editing Movie</h1>
<div class="form-style">
<%= render "form", movie: @movie %>
</div>
<div class="action-links">
  <%= link_to "Show this movie", @movie, class: "show-btn" %> |
  <%= link_to "Back to movies", movies_path, class: "back-to-movies-btn" %>
</div>
